{
  "extends": ["@binance-academy/eslint-config-bnb", "plugin:mocha/recommended"],
  "env": {
    "es6": true,
    "mocha": true
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": [],
        "aspects": ["invalidHref", "preferButton"]
      }
    ],
    "mocha/no-mocha-arrows": 0
  }
}
